.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titulo-pesq-pront {
    margin: 100px;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;

}

.label-pesq-pront {
    margin: 50px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}

.input-pesq-pront {
    margin: 20px;
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    background-color: #F5F5F5;
    
}

.button-pesq-pront {
    margin: 50px;
    background: linear-gradient(270deg, #0194F3 0%, #1FDB87 100%, #1FDB87 100%);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    width: 284px;
    height: 54px;
    font-size: 20px;
  }

.error {
    color: red;
}