
.header {
    padding: 40px;
  }
  
  .header-content {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .header-logo img {
    width: 100%; 
    max-width: 272.32px; 
    height: auto; 
  }
  
  .header-links ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    margin: 0;
    padding: 0;
  }
  
  .header-links li {
    margin-right: 80px; 
    margin-top: 10px; 
  }
  
  .header-links a {
    text-decoration: none;
    color: #000000;
    font-family: Poppins;
    font-size: 16px; 
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.1em;
    text-align: center;
  }
  
  .header-button {
    background: linear-gradient(270deg, #0194F3 0%, #1FDB87 100%, #1FDB87 100%);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-family: Poppins;
    font-size: 20px; 
    font-weight: 600;
    line-height: 24px; 
    letter-spacing: 0.115em;
    text-align: center;
    width: 201px; 
    height: 42px; 
  }

  .header-button a {
    text-decoration: none;
  }

  .header-button a:visited {
    color: #fff;
  }
  

  @media (max-width: 768px) {
    .header-content {
      grid-template-columns: 1fr; 
      text-align: center; 
    }
  
    .header-links li {
      margin-right: 10px; 
      margin-bottom: 10px; 
    }
  
    .header-button {
      width: 100%; 
      margin-top: 10px; 
    }
  }
  